<div class="container">
    <h1 class="text-center text-info bg-title-about bg-secondary">YO AYUDO</h1>
    <div class="flex-about">
        <div>
            <p class="text-justify">
                Un sitio donde puedes hacer tus reportes sobre problemas existentes en tu comunidad alertando sobre posibles situaciones peligrosas que puedan afectarte a ti o alguien más.
    
                <br>
                Con <span class="text-primary">Yo Ayudo</span> puedes solicitar ayuda cuando la necesites o cuando creas que algo no esta bien en tu ciudad. Puedes usar la opción de "Pedir ayuda" que tenemos para ti y con tan solo presionar un botón tienes 2 opciones.
                <br><br>
                <span class="text-primary">Reporte express</span> te permite crear un reporte a las autoridades en tu municipio de residencia, mandando una alerta urgente. Perfecto para cuando no tienes el suficiente tiempo para un reporte detallado. <span class="text-info no-bold">(Solamente para la versión móvil)</span>
                <br>
                <span class="text-primary">Reporte detallado</span> te permite preparar un reporte con suficiente información sobre la situación que necesitas ayuda, puedes adjuntar una foto y referencia del lugar.
                <br><br>
                Por una comunidad con menos incidentes.
            </p>
    
            <div class="playstore">
                <a href="#">
                    <span class="text-white playstore__bg bg-secondary">Descarga la app móvil</span>
                    <img src="" alt="">
                </a>
            </div>
        </div>
    
        <div class="to-bottom text-end">
            <img src="../../../assets/img/code.svg" alt="Imagen con lineas de codigo" width="256" height="256">
            <p>Creado por <b>Francisco Hernández</b></p>
        </div>
    </div>
</div>