<div class="mt-2">
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="pill" type="button" aria-selected="true" routerLink="home">Ayudas</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="pill" type="button" aria-selected="false" routerLink="community">Comunidad</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="pill" type="button" aria-selected="false" routerLink="profile">Perfil</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="pill" type="button" aria-selected="false" type="button" routerLink="about">Creado por</button>
        </li>
    </ul>
</div>

<div class="divider"></div>

<div class="pos-fixed-left m-2">
    <button class="btn btn-outline-primary" data-bs-toggle="offcanvas" data-bs-target="#reportCanvas" aria-controls="reportCanvas" *ngIf="loginServ.SESSION?.rol == 1">Pedir ayuda</button>
</div>
<div class="pos-fixed-right m-2">
    <button class="btn btn-outline-warning" (click)="logout()">Salir</button>
</div>