<div class="pt-2">
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
            <button class="nav-link nav-item-custom" type="button" [routerLink]="['/','home']">Ayudas</button>
        </li>
        <li class="nav-item">
            <button class="nav-link nav-item-custom" type="button" [routerLink]="['/','community']">Comunidad</button>
        </li>
        <li class="nav-item">
            <button class="nav-link nav-item-custom" type="button" [routerLink]="['/','profile']">Perfil</button>
        </li>
        <li class="nav-item">
            <button class="nav-link nav-item-custom" type="button" [routerLink]="['/','about']">Creado por</button>
        </li>
    </ul>
</div>

<div class="divider"></div>

<div class="pos-fixed-left m-2">
    <button class="btn btn-outline-primary" data-bs-toggle="offcanvas" data-bs-target="#reportCanvas" aria-controls="reportCanvas" *ngIf="loginServ.SESSION?.access">Pedir ayuda</button>
</div>
<div class="pos-fixed-right m-2">
    <button class="btn btn-outline-warning" (click)="logout()">Salir</button>
</div>